<section data-ng-controller="StrategiesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Strategy</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="columns col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading"> Configuration </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="name">Name</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="strategy.name" id="name" class="form-control" placeholder="Name" required>
                                </div>
                                
                                
                                <label class="control-label" for="totalCoins">Total Coins to Hedge:</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="strategy.totalCoins" id="totalCoins" class="form-control" placeholder="Total Coins to Hedge" required>
                                </div>
                                
                                <label class="control-label" for="maxBuyPrice">Max Buy Price:</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="strategy.maxBuyPrice" id="maxBuyPrice" class="form-control" placeholder="Max Buy Price" required>
                                </div>
                                
                                <label class="control-label" for="insuranceCoverage">Insurance Coverage Rate:</label>
                                <div class="controls">
                                    <input type="text" data-ng-model="strategy.insuranceCoverage" id="insuranceCoverage" class="form-control" placeholder="Insurance Coverage Rate" required>
                                </div>
                                
                                <label class="control-label" for="enabled">Enabled</label>
                                <div class="controls">
                                    <input type="checkbox" data-ng-model="strategy.enabled" id="enabled" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- end left column -->
                
                <div class="columns col-md-6" data-ng-init="getExchangesList()">
                    <div class="panel panel-success">
                        <div class="panel-heading">Primary Exchanges</div>
                        <div class="panel-body">
                            <table width="100%">
                            <tr data-ng-repeat="exchange in exchanges">
                                <td>
                                    {{exchange.name}}
                                </td>
                                <td>
                                    <input type="textbox" data-ng-model="primaryExchange.percent" class="form-control" placeholder="eg: 0.5 = 50%">
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                    <br />
                    <div class="panel panel-warning">
                        <div class="panel-heading">Insurance Exchanges</div>
                        <div class="panel-body">
                            <table width="100%">
                            <tr data-ng-repeat="exchange in exchanges">
                                <td>
                                    {{exchange.name}}
                                </td>
                                <td>
                                    <input type="textbox" data-ng-model="insuranceExchange.percent" class="form-control" placeholder="0.7 for 70%">
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div> <!-- end right column -->
                <div class="columns col-md-12">
                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-success pull-right">
                    </div>
                    <div data-ng-show="error" class="text-danger">
                        <strong data-ng-bind="error"></strong>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</section>