<section data-ng-controller="ExchangesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="exchange.name"></h1>
        <small class="pull-right">
            <div class="row text-right">
                Current Futures Index Price: ${{future_index.future_index}} USD
            </div>
            <div class="row text-right">
                Future Hold Amount: {{future_hold_amount[0].amount}} <span class="glyphicon glyphicon-bitcoin"></span> (Contract: {{future_hold_amount[0].contract_name}} )
            </div>
            <div class="row text-right">
                Current Exchange Rate: {{exchange_rate.rate}} <span class="glyphicon glyphicon-yen"></span> = 1 USD 
            </div>
            
        </small>
       
        <br />
	</div>
        
    <div class="row" data-ng-init="getExchangeData(exchange)">        
        <div class="row">
            <div class="panel panel-success">
                <div class="panel-heading">Current Price Information</div>
                <div class="panel-body">
                    <div class="columns col-lg-3 text-left">Contract ID: {{future_ticker.contract_id}}</div>
                    <div class="columns col-lg-1">Buy: {{future_ticker.buy || "--"}}</div>
                    <div class="columns col-lg-1">High: {{future_ticker.high || "--"}}</div>
                    <div class="columns col-lg-2"><h3>Last: ${{future_ticker.last || "--"}}</h3></div>
                    <div class="columns col-lg-1">Low: {{future_ticker.low || "--"}} </div>
                    <div class="columns col-lg-1">Sell: {{future_ticker.sell || "--"}} </div>
                    <div class="columns col-lg-3 text-right">Volume: {{future_ticker.vol || "--"}} <span class="glyphicon glyphicon-bitcoin"></span> </div>
                </div>
            </div>
        </div>
        
        
        <div class="row">
            <div class="columns col-lg-5">
                <div class="panel panel-info">
                    <div class="panel-heading">{{exchange.name}} Market Depth</div>
                    <div class="panel-body">
                        <ul class="list-group pull-left">
                            <li class="list-group-item list-group-item-info">
                                Amount @ Ask Price
                            </li>
                            
                            <li class="list-group-item list-group-item-danger text-right" data-ng-repeat='ask in future_depth.asks'>
                                {{ask[1].toFixed(3)}} <span class="glyphicon glyphicon-bitcoin"></span> @ ${{ask[0].toFixed(2)}}
                            </li>
                        </ul>
                        <ul class="list-group pull-right">
                            <li class="list-group-item list-group-item-info">
                                Amount @ Bid Price
                            </li>
                            
                            <li class="list-group-item list-group-item-success text-right" data-ng-repeat='bid in future_depth.bids'>
                                {{bid[1].toFixed(3)}} <span class="glyphicon glyphicon-bitcoin"></span> @ ${{bid[0].toFixed(2)}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="columns col-lg-7">
                <highchart id="tradechart" config="tradeChartConfig"></highchart>
            </div>
        </div> <!-- End of row -->
                        
        <div class="row">
            <highchart id="klinechart" config="klineChartConfig"></highchart>
        </div>
    </div>
</section>
