<section data-ng-controller="ExchangesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="exchange.name"></h1>
	</div>
    <div class="row">
        <div class="well">
            Graph {{exchange.name}} Exchange Data Here
            
        </div>
        
        <div class="well" data-ng-init="getTrades()">
            <h3> Recent Trades on {{exchange.name}} </h3>
            <table width="100%">
                <tr>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Price</th>
                    <th>TID</th>
                    <th>Type</th>
                </tr>
                                
                <tr data-ng-repeat="trade in trades" ng-if="$index < 25">
                    <td> {{trade.date_ms | date:'medium'}} </td>
                    <td> {{trade.amount}} <span class="pull-left glyphicon glyphicon-bitcoin"></span></td>
                    <td> {{trade.price}} <span class="pull-left glyphicon glyphicon-usd"></span></td>
                    <td> {{trade.tid}} </td>
                    <td> {{trade.type}} </td>
                </tr>
            </table>      
        </div>
    </div>
	<small data-ng-init="">
		<em class="text-muted">
            <h4 class="pull-right list-group-item-heading">Last Price: </h4>
            <div class="row">
                Last, High, Low, Buy, Sell
			</div>            
		</em>
	</small>
    <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == exchange.user._id))">
		<a class="btn btn-primary" href="/#!/exchanges/{{exchange._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
</section>
